# Importar librerías y datos

In [ ]:
import pandas as pd

In [ ]:
df_ene_mar = pd.read_csv("Ene-mar.csv")
df_abr_jun = pd.read_csv("Abr-jun.csv")
df_jul_ago = pd.read_csv("Jul-Ago.csv")
df_sep_oct = pd.read_csv("Sep-oct.csv")
df_nov = pd.read_csv("nov.csv")
df_dic = pd.read_csv("dic.csv")

# Análisis exploratorio y limpieza

## Información general

In [ ]:
df_ene_mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238500 entries, 0 to 238499
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cdc_case_earliest_dt     238500 non-null  object
 1   cdc_report_dt            236553 non-null  object
 2   pos_spec_dt              136376 non-null  object
 3   onset_dt                 166301 non-null  object
 4   current_status           238500 non-null  object
 5   sex                      238500 non-null  object
 6   age_group                238500 non-null  object
 7   race_ethnicity_combined  238500 non-null  object
 8   hosp_yn                  238500 non-null  object
 9   icu_yn                   238500 non-null  object
 10  death_yn                 238500 non-null  object
 11  medcond_yn               238500 non-null  object
dtypes: object(12)
memory usage: 21.8+ MB

In [ ]:
df_abr_jun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623006 entries, 0 to 2623005
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   cdc_case_earliest_dt     object
 1   cdc_report_dt            object
 2   pos_spec_dt              object
 3   onset_dt                 object
 4   current_status           object
 5   sex                      object
 6   age_group                object
 7   race_ethnicity_combined  object
 8   hosp_yn                  object
 9   icu_yn                   object
 10  death_yn                 object
 11  medcond_yn               object
dtypes: object(12)
memory usage: 240.1+ MB

In [ ]:
df_jul_ago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3219940 entries, 0 to 3219939
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   cdc_case_earliest_dt     object
 1   cdc_report_dt            object
 2   pos_spec_dt              object
 3   onset_dt                 object
 4   current_status           object
 5   sex                      object
 6   age_group                object
 7   race_ethnicity_combined  object
 8   hosp_yn                  object
 9   icu_yn                   object
 10  death_yn                 object
 11  medcond_yn               object
dtypes: object(12)
memory usage: 294.8+ MB

In [ ]:
df_sep_oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3375131 entries, 0 to 3375130
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   cdc_case_earliest_dt     object
 1   cdc_report_dt            object
 2   pos_spec_dt              object
 3   onset_dt                 object
 4   current_status           object
 5   sex                      object
 6   age_group                object
 7   race_ethnicity_combined  object
 8   hosp_yn                  object
 9   icu_yn                   object
 10  death_yn                 object
 11  medcond_yn               object
dtypes: object(12)
memory usage: 309.0+ MB

In [ ]:
df_nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487994 entries, 0 to 4487993
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   cdc_case_earliest_dt     object
 1   cdc_report_dt            object
 2   pos_spec_dt              object
 3   onset_dt                 object
 4   current_status           object
 5   sex                      object
 6   age_group                object
 7   race_ethnicity_combined  object
 8   hosp_yn                  object
 9   icu_yn                   object
 10  death_yn                 object
 11  medcond_yn               object
dtypes: object(12)
memory usage: 410.9+ MB

In [ ]:
df_dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6105987 entries, 0 to 6105986
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   cdc_case_earliest_dt     object
 1   cdc_report_dt            object
 2   pos_spec_dt              object
 3   onset_dt                 object
 4   current_status           object
 5   sex                      object
 6   age_group                object
 7   race_ethnicity_combined  object
 8   hosp_yn                  object
 9   icu_yn                   object
 10  death_yn                 object
 11  medcond_yn               object
dtypes: object(12)
memory usage: 559.0+ MB

## Valores nulos

In [ ]:
print(df_ene_mar.isnull().sum())

cdc_case_earliest_dt            0
cdc_report_dt                1947
pos_spec_dt                102124
onset_dt                    72199
current_status                  0
sex                             0
age_group                       0
race_ethnicity_combined         0
hosp_yn                         0
icu_yn                          0
death_yn                        0
medcond_yn                      0
dtype: int64

In [ ]:
# Valores nulos
print(df_abr_jun.isnull().sum())

cdc_case_earliest_dt             0
cdc_report_dt               120845
pos_spec_dt                1540988
onset_dt                   1322648
current_status                   0
sex                              0
age_group                        0
race_ethnicity_combined          0
hosp_yn                          0
icu_yn                           0
death_yn                         0
medcond_yn                       0
dtype: int64

In [ ]:
print(df_jul_ago.isnull().sum())

cdc_case_earliest_dt             0
cdc_report_dt               227023
pos_spec_dt                2339650
onset_dt                   1721531
current_status                   0
sex                              0
age_group                        0
race_ethnicity_combined          0
hosp_yn                          0
icu_yn                           0
death_yn                         0
medcond_yn                       0
dtype: int64

In [ ]:
print(df_sep_oct.isnull().sum())

cdc_case_earliest_dt             0
cdc_report_dt                91969
pos_spec_dt                2206917
onset_dt                   1429385
current_status                   0
sex                              0
age_group                        0
race_ethnicity_combined          0
hosp_yn                          0
icu_yn                           0
death_yn                         0
medcond_yn                       0
dtype: int64

In [ ]:
print(df_nov.isnull().sum())

cdc_case_earliest_dt             0
cdc_report_dt               190864
pos_spec_dt                2725998
onset_dt                   2119566
current_status                   0
sex                              0
age_group                        1
race_ethnicity_combined          0
hosp_yn                          0
icu_yn                           0
death_yn                         0
medcond_yn                       0
dtype: int64

In [ ]:
print(df_dic.isnull().sum())

cdc_case_earliest_dt             0
cdc_report_dt               846724
pos_spec_dt                3963970
onset_dt                   3471821
current_status                   0
sex                              0
age_group                        0
race_ethnicity_combined          0
hosp_yn                          0
icu_yn                           0
death_yn                         0
medcond_yn                       0
dtype: int64

## Eliminación preliminar

In [ ]:
df_1 = df_ene_mar.drop(columns=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'icu_yn'])
df_2 = df_abr_jun.drop(columns=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'icu_yn'])
df_3 = df_jul_ago.drop(columns=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'icu_yn'])
df_4 = df_sep_oct.drop(columns=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'icu_yn'])
df_5 = df_nov.drop(columns=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'icu_yn'])
df_6 = df_dic.drop(columns=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'icu_yn'])

# Verificar valores variables categóricas

In [ ]:
# Ver los valores únicos
# Lista de columnas que NO queremos analizar
columnas_excluir = ['cdc_case_earliest_dt ', 'cdc_report_dt', 'pos_spec_dt', 'onset_dt']

print("ENERO-MARZO")
for columna in df_1.columns:
    if columna not in columnas_excluir:
        print(f"Valores únicos en {columna}: {df_1[columna].unique()}")
print(" ")
print("ABRIL-JUNIO")
for columna in df_2.columns:
    if columna not in columnas_excluir:
        print(f"Valores únicos en {columna}: {df_2[columna].unique()}")

print(" ")
print("JULIO-AGOSTO")
for columna in df_3.columns:
    if columna not in columnas_excluir:
        print(f"Valores únicos en {columna}: {df_3[columna].unique()}")

print(" ")
print("SEPTIEMBRE-OCTUBRE")
for columna in df_4.columns:
    if columna not in columnas_excluir:
        print(f"Valores únicos en {columna}: {df_4[columna].unique()}")

print(" ")
print("NOVIEMBRE")
for columna in df_5.columns:
    if columna not in columnas_excluir:
        print(f"Valores únicos en {columna}: {df_5[columna].unique()}")

print(" ")
print("DICIEMBRE")
for columna in df_6.columns:
    if columna not in columnas_excluir:
        print(f"Valores únicos en {columna}: {df_6[columna].unique()}")

ENERO-MARZO
Valores únicos en current_status: ['Probable Case' 'Laboratory-confirmed case']
Valores únicos en sex: ['Male' 'Female' 'Unknown' 'Missing' 'Other']
Valores únicos en age_group: ['10 - 19 Years' '20 - 29 Years' '40 - 49 Years' '60 - 69 Years'
 '50 - 59 Years' '70 - 79 Years' '80+ Years' 'Missing' '30 - 39 Years'
 '0 - 9 Years']
Valores únicos en race_ethnicity_combined: ['Black, Non-Hispanic' 'Hispanic/Latino' 'White, Non-Hispanic'
 'Asian, Non-Hispanic' 'American Indian/Alaska Native, Non-Hispanic'
 'Unknown' 'Multiple/Other, Non-Hispanic' 'Missing'
 'Native Hawaiian/Other Pacific Islander, Non-Hispanic']
Valores únicos en hosp_yn: ['Missing' 'No' 'Unknown' 'Yes']
Valores únicos en death_yn: ['No' 'Yes' 'Missing' 'Unknown']
Valores únicos en medcond_yn: ['Missing' 'Unknown' 'Yes' 'No']

ABRIL-JUNIO
Valores únicos en current_status: ['Laboratory-confirmed case' 'Probable Case']
Valores únicos en sex: ['Male' 'Missing' 'Unknown' 'Female' 'Other']
Valores únicos en age_group: ['10 - 19 Years' 'Missing' '20 - 29 Years' '40 - 49 Years' '30 - 39 Years'
 '80+ Years' '60 - 69 Years' '0 - 9 Years' '50 - 59 Years' '70 - 79 Years']
Valores únicos en race_ethnicity_combined: ['Black, Non-Hispanic' 'Unknown' 'Hispanic/Latino' 'White, Non-Hispanic'
 'Multiple/Other, Non-Hispanic'
 'Native Hawaiian/Other Pacific Islander, Non-Hispanic'
 'Asian, Non-Hispanic' 'American Indian/Alaska Native, Non-Hispanic'
 'Missing']
Valores únicos en hosp_yn: ['Unknown' 'No' 'Yes' 'Missing']
Valores únicos en death_yn: ['Unknown' 'Missing' 'No' 'Yes']
Valores únicos en medcond_yn: ['Unknown' 'Missing' 'Yes' 'No']

JULIO-AGOSTO
Valores únicos en current_status: ['Laboratory-confirmed case' 'Probable Case']
Valores únicos en sex: ['Male' 'Missing' 'Unknown' 'Female' 'Other']
Valores únicos en age_group: ['10 - 19 Years' 'Missing' '20 - 29 Years' '40 - 49 Years' '30 - 39 Years'
 '80+ Years' '60 - 69 Years' '70 - 79 Years' '0 - 9 Years' '50 - 59 Years']
Valores únicos en race_ethnicity_combined: ['Black, Non-Hispanic' 'Unknown' 'Hispanic/Latino' 'White, Non-Hispanic'
 'Multiple/Other, Non-Hispanic'
 'Native Hawaiian/Other Pacific Islander, Non-Hispanic'
 'American Indian/Alaska Native, Non-Hispanic' 'Missing'
 'Asian, Non-Hispanic']
Valores únicos en hosp_yn: ['Missing' 'No' 'Unknown' 'Yes']
Valores únicos en death_yn: ['Missing' 'No' 'Unknown' 'Yes']
Valores únicos en medcond_yn: ['Missing' 'Yes' 'No' 'Unknown']

SEPTIEMBRE-OCTUBRE
Valores únicos en current_status: ['Laboratory-confirmed case' 'Probable Case']
Valores únicos en sex: ['Male' 'Missing' 'Unknown' 'Female' 'Other']
Valores únicos en age_group: ['10 - 19 Years' 'Missing' '20 - 29 Years' '40 - 49 Years' '30 - 39 Years'
 '80+ Years' '60 - 69 Years' '0 - 9 Years' '50 - 59 Years' '70 - 79 Years']
Valores únicos en race_ethnicity_combined: ['Black, Non-Hispanic' 'Unknown' 'Hispanic/Latino' 'White, Non-Hispanic'
 'Multiple/Other, Non-Hispanic'
 'Native Hawaiian/Other Pacific Islander, Non-Hispanic'
 'American Indian/Alaska Native, Non-Hispanic' 'Asian, Non-Hispanic'
 'Missing']
Valores únicos en hosp_yn: ['No' 'Unknown' 'Missing' 'Yes']
Valores únicos en death_yn: ['No' 'Missing' 'Unknown' 'Yes']
Valores únicos en medcond_yn: ['No' 'Missing' 'Yes' 'Unknown']

NOVIEMBRE
Valores únicos en current_status: ['Laboratory-confirmed case' 'Probable Case']
Valores únicos en sex: ['Male' 'Missing' 'Unknown' 'Female' 'Other']
Valores únicos en age_group: ['10 - 19 Years' 'Missing' '20 - 29 Years' '40 - 49 Years' '30 - 39 Years'
 '80+ Years' '60 - 69 Years' '0 - 9 Years' '50 - 59 Years' '70 - 79 Years'
 nan]
Valores únicos en race_ethnicity_combined: ['Black, Non-Hispanic' 'Unknown' 'Hispanic/Latino' 'White, Non-Hispanic'
 'Multiple/Other, Non-Hispanic'
 'Native Hawaiian/Other Pacific Islander, Non-Hispanic'
 'American Indian/Alaska Native, Non-Hispanic' 'Asian, Non-Hispanic'
 'Missing']
Valores únicos en hosp_yn: ['Unknown' 'Missing' 'No' 'Yes']
Valores únicos en death_yn: ['Missing' 'No' 'Unknown' 'Yes']
Valores únicos en medcond_yn: ['No' 'Missing' 'Unknown' 'Yes']

DICIEMBRE
Valores únicos en current_status: ['Laboratory-confirmed case' 'Probable Case']
Valores únicos en sex: ['Male' 'Missing' 'Unknown' 'Female' 'Other']
Valores únicos en age_group: ['10 - 19 Years' 'Missing' '20 - 29 Years' '40 - 49 Years' '80+ Years'
 '30 - 39 Years' '60 - 69 Years' '70 - 79 Years' '0 - 9 Years'
 '50 - 59 Years']
Valores únicos en race_ethnicity_combined: ['Black, Non-Hispanic' 'Unknown' 'Hispanic/Latino' 'White, Non-Hispanic'
 'Multiple/Other, Non-Hispanic'
 'Native Hawaiian/Other Pacific Islander, Non-Hispanic'
 'American Indian/Alaska Native, Non-Hispanic' 'Missing'
 'Asian, Non-Hispanic']
Valores únicos en hosp_yn: ['Missing' 'Unknown' 'No' 'Yes']
Valores únicos en death_yn: ['Missing' 'Unknown' 'No' 'Yes']
Valores únicos en medcond_yn: ['Unknown' 'No' 'Missing' 'Yes']

Teniendo en cuenta que nuestro principal interés radica en analizar los casos que resultan graves, decidimos eliminar todos los registros desconocidos

In [ ]:
# Lista de columnas que queremos analizar
columnas_interes = ['hosp_yn', 'death_yn']

# Función para contar 'Missing' o 'Unknown' en cada columna
print("ENERO-MARZO")
for columna in df_1.columns:
  if columna  in columnas_interes:
    count_missing_unknown = df_1[columna].isin(['Missing', 'Unknown']).sum()
    print(f"Registros 'Missing' o 'Unknown' en {columna}: {count_missing_unknown}")

print(" ")
print("ABRIL-JUNIO")
for columna in df_2.columns:
  if columna  in columnas_interes:
    count_missing_unknown = df_2[columna].isin(['Missing', 'Unknown']).sum()
    print(f"Registros 'Missing' o 'Unknown' en {columna}: {count_missing_unknown}")

print(" ")
print("JULIO-AGOSTO")
for columna in df_3.columns:
  if columna  in columnas_interes:
    count_missing_unknown = df_3[columna].isin(['Missing', 'Unknown']).sum()
    print(f"Registros 'Missing' o 'Unknown' en {columna}: {count_missing_unknown}")

print(" ")
print("SEPTIEMBRE-OCTUBRE")
for columna in df_4.columns:
  if columna  in columnas_interes:
    count_missing_unknown = df_4[columna].isin(['Missing', 'Unknown']).sum()
    print(f"Registros 'Missing' o 'Unknown' en {columna}: {count_missing_unknown}")

print(" ")
print("NOVIEMBRE")
for columna in df_5.columns:
  if columna  in columnas_interes:
    count_missing_unknown = df_5[columna].isin(['Missing', 'Unknown']).sum()
    print(f"Registros 'Missing' o 'Unknown' en {columna}: {count_missing_unknown}")

print(" ")
print("DICIEMBRE")
for columna in df_6.columns:
  if columna  in columnas_interes:
    count_missing_unknown = df_6[columna].isin(['Missing', 'Unknown']).sum()
    print(f"Registros 'Missing' o 'Unknown' en {columna}: {count_missing_unknown}")

ENERO-MARZO
Registros 'Missing' o 'Unknown' en hosp_yn: 76397
Registros 'Missing' o 'Unknown' en death_yn: 102334

ABRIL-JUNIO
Registros 'Missing' o 'Unknown' en hosp_yn: 1176225
Registros 'Missing' o 'Unknown' en death_yn: 1336065

JULIO-AGOSTO
Registros 'Missing' o 'Unknown' en hosp_yn: 1542010
Registros 'Missing' o 'Unknown' en death_yn: 1988889

SEPTIEMBRE-OCTUBRE
Registros 'Missing' o 'Unknown' en hosp_yn: 1564300
Registros 'Missing' o 'Unknown' en death_yn: 1959932

NOVIEMBRE
Registros 'Missing' o 'Unknown' en hosp_yn: 2397753
Registros 'Missing' o 'Unknown' en death_yn: 2749211

DICIEMBRE
Registros 'Missing' o 'Unknown' en hosp_yn: 3442644
Registros 'Missing' o 'Unknown' en death_yn: 4162550

In [ ]:
# Eliminar filas donde 'hosp_yn' o 'death_yn' contienen 'Missing' o 'Unknown'
df_1_depurada = df_1[~(df_1['hosp_yn'].isin(['Missing', 'Unknown']) | df_1['death_yn'].isin(['Missing', 'Unknown']))]
df_2_depurada = df_2[~(df_2['hosp_yn'].isin(['Missing', 'Unknown']) | df_2['death_yn'].isin(['Missing', 'Unknown']))]
df_3_depurada = df_3[~(df_3['hosp_yn'].isin(['Missing', 'Unknown']) | df_3['death_yn'].isin(['Missing', 'Unknown']))]
df_4_depurada = df_4[~(df_4['hosp_yn'].isin(['Missing', 'Unknown']) | df_4['death_yn'].isin(['Missing', 'Unknown']))]
df_5_depurada = df_5[~(df_5['hosp_yn'].isin(['Missing', 'Unknown']) | df_5['death_yn'].isin(['Missing', 'Unknown']))]
df_6_depurada = df_6[~(df_6['hosp_yn'].isin(['Missing', 'Unknown']) | df_6['death_yn'].isin(['Missing', 'Unknown']))]

In [ ]:
df_1_depurada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109660 entries, 2 to 238499
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cdc_case_earliest_dt     109660 non-null  object
 1   current_status           109660 non-null  object
 2   sex                      109660 non-null  object
 3   age_group                109660 non-null  object
 4   race_ethnicity_combined  109660 non-null  object
 5   hosp_yn                  109660 non-null  object
 6   death_yn                 109660 non-null  object
 7   medcond_yn               109660 non-null  object
dtypes: object(8)
memory usage: 7.5+ MB

In [ ]:
df_2_depurada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 913972 entries, 5 to 2622985
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cdc_case_earliest_dt     913972 non-null  object
 1   current_status           913972 non-null  object
 2   sex                      913972 non-null  object
 3   age_group                913972 non-null  object
 4   race_ethnicity_combined  913972 non-null  object
 5   hosp_yn                  913972 non-null  object
 6   death_yn                 913972 non-null  object
 7   medcond_yn               913972 non-null  object
dtypes: object(8)
memory usage: 62.8+ MB

In [ ]:
df_3_depurada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 970137 entries, 1 to 3219925
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cdc_case_earliest_dt     970137 non-null  object
 1   current_status           970137 non-null  object
 2   sex                      970137 non-null  object
 3   age_group                970137 non-null  object
 4   race_ethnicity_combined  970137 non-null  object
 5   hosp_yn                  970137 non-null  object
 6   death_yn                 970137 non-null  object
 7   medcond_yn               970137 non-null  object
dtypes: object(8)
memory usage: 66.6+ MB

In [ ]:
df_4_depurada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1146542 entries, 0 to 3375125
Data columns (total 8 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   cdc_case_earliest_dt     1146542 non-null  object
 1   current_status           1146542 non-null  object
 2   sex                      1146542 non-null  object
 3   age_group                1146542 non-null  object
 4   race_ethnicity_combined  1146542 non-null  object
 5   hosp_yn                  1146542 non-null  object
 6   death_yn                 1146542 non-null  object
 7   medcond_yn               1146542 non-null  object
dtypes: object(8)
memory usage: 78.7+ MB

In [ ]:
df_5_depurada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1264401 entries, 4 to 4487984
Data columns (total 8 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   cdc_case_earliest_dt     1264401 non-null  object
 1   current_status           1264401 non-null  object
 2   sex                      1264401 non-null  object
 3   age_group                1264401 non-null  object
 4   race_ethnicity_combined  1264401 non-null  object
 5   hosp_yn                  1264401 non-null  object
 6   death_yn                 1264401 non-null  object
 7   medcond_yn               1264401 non-null  object
dtypes: object(8)
memory usage: 86.8+ MB

In [ ]:
df_6_depurada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1379220 entries, 2 to 6105977
Data columns (total 8 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   cdc_case_earliest_dt     1379220 non-null  object
 1   current_status           1379220 non-null  object
 2   sex                      1379220 non-null  object
 3   age_group                1379220 non-null  object
 4   race_ethnicity_combined  1379220 non-null  object
 5   hosp_yn                  1379220 non-null  object
 6   death_yn                 1379220 non-null  object
 7   medcond_yn               1379220 non-null  object
dtypes: object(8)
memory usage: 94.7+ MB

## Unir dataframes

In [ ]:
datos = pd.concat([df_1_depurada, df_2_depurada, df_3_depurada, df_4_depurada, df_5_depurada, df_6_depurada], ignore_index=True)

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783932 entries, 0 to 5783931
Data columns (total 8 columns):
 #   Column                   Dtype
---  ------                   -----
 0   cdc_case_earliest_dt     object
 1   current_status           object
 2   sex                      object
 3   age_group                object
 4   race_ethnicity_combined  object
 5   hosp_yn                  object
 6   death_yn                 object
 7   medcond_yn               object
dtypes: object(8)
memory usage: 353.0+ MB

# Cargar

In [ ]:
# Exportar el DataFrame a un archivo CSV
datos.to_csv('datos.csv', index=False)